<!--- font-family: Pacifico, cursive;- نوع الخط ->

<!--<link href="https://fonts.googleapis.com/css2?family=Niconne&family=Pacifico&family=Petit+Formal+Script&display=swap" rel="stylesheet">  عنوان الخط-->

<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> رابط البوتستراب اشكال الروابط-->
<!--<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"> -->


<div class="container" >
    
    <form action="{{#}}" method="POST" enctype="multipart/form-data" class="form-group mt-5" >

        <a class="signup" href="{{#}}">Sing Up</a>

        <label>

            <input type="text" name="username" placeholder="Username" id="gix">
            <i id="user" class="fa fa-user fa-lg fa-fw" for="gix"></i>
       
        </label>
       
        <label>

            <input type="password" name="pass" placeholder="Password" id="fix">
            <i id="key" class="fa fa-lock fa-lg fa-fw" for="fix"></i>

        </label>

        <input type="submit" name="submit" class="btn btn-outline-info" value="LOGIN">
       

        <a class="forgot" href="{{#}}">Forgot Password</a>
          <div class="links">
            <h4 style="color: white;  font-family: 'Lobster', cursive;">Sing In With</h4>
           
           <i class="fa fa-facebook fa-2x fa-fw"><a href="{{#}}"></a> </i>
           <i class="fa fa-twitter fa-2x fa-fw "><a href="{{#}}"></a> </i>
           <i id="cont" class="fa fa-google-plus fa-2x fa-fw"><a href="{{#}}"></a> </i>
           <i id="in" class="fa fa-linkedin fa-2x fa-fw"><a href="{{#}}"></a> </i>
         
        </div>

        <p id="date">Friday,20 November</p>
        

    </form>

    <h1 class="display-6">Login Form &copy;Ali Alrubay</h1>

</div>

