<!---------- Link page ---------------------->
<%- include('./linkFirstPage')%> 
<!------------------------------------------->

<!---------------slide image first page---------------------------->
<div class="container ">
  
<!---------- Name first page ---------------->
<%- include('./namePage')%> 
<!------------------------------------------->

<img src="/images/tt.jpg" class="img-fluid" alt="Responsive image" 
style="
height: 400px;
width: 99%;
box-shadow: 1px 2px 3px black;
">

     

    </div>

  </div>
  
</div>


<!--
    

 <img src="/images/tt.jpg" class="img-fluid" alt="Responsive image" style="height: 400px; width: 99%;">

    -->