<!------------------link first page------------------------->
<ul class="float-right mt-1" style="margin-right: 5px;">
            <a href="#"  id="facebook" class="fa fa-facebook fa-2x fa-fw "></a>
            <a href="#"  id="twitter"  class="fa fa-twitter fa-2x fa-fw "></a>
            <a href="#"  id="google"   class="fa fa-google-plus fa-2x fa-fw"></a>
            <a href="#"  id="linkedin" class="fa fa-linkedin fa-2x fa-fw"></a>
            <a href="#"  id="github"   class="fa fa-github fa-2x fafw"></a>
           
</ul>
<!------------------------------------------------------------------------------->

