<!---Alert error in forms page --->
<% if (locals.errors) {%>
    <% errors.forEach((err)=> {%>
        <div class="alert alert-danger">
                <%= err.msg%>
        </div>
    <%})%>
<%}%>
<!---end error Alert -------------->


<!---Alert success  in index-first  page --->
<% if (locals.message && message !="") {%>
         
    <div class="alert alert-success">
            <%= message%>
    </div>
  <%}%>     
 <!---end success Alert ------------------>   
   

  <% if (locals.error && error !="") {%>
         
    <div class="alert alert-danger">
            <%= error%>
    </div>
  <%}%>     
      
  <% if (locals.success && success !="") {%>
         
    <div class="alert alert-success">
            <%= success%>
    </div>
  <%}%>   