<nav id="navbars" class="navbar navbar-expand-lg navbar-dark sticky-top">

<a href="<%= '/' %>"  id="home" class="fa fa-home fa-2x fafw"></a>
<a class="nav-link" id="brand" href="<%='/'%>">Description</a>
     
<button class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
</button>
  
<div class="collapse navbar-collapse" 
     id="navbarSupportedContent">
     
<ul class="navbar-nav mr-auto">
    <li class="nav-item active">

    
    <li class="nav-item active">
<a class="nav-link" id="add" href='<%= "/create/add" %>'> Add Producer</a>
    </li>
       
</ul>


<form class="form-inline my-2 my-lg-0" >
<a type="button" href="#" class="btn btn-outline-light mr-md-2"  
style="
font-family: 'Niconne', cursive; 
font-size: 20px;
">Login</a>
<a type="button" href="#" class="btn btn-outline-light"  
style="
font-family: 'Niconne', cursive;
font-size: 20px;
margin-right: 5px;
">Logout</a>  
</form> 
    </div>
  </nav>