<!-- https://codepen.io/vilcu/pen/ZQwdGQ -->
<div class="wrapper">
    <h2>Slick Carousel Example<h2>
      <div class="carousel">
        <div>
          <div class="card">
            <div class="card-header">
              <img src="https://lorempixel.com/200/200/abstract/1">
            </div>
            <div class="card-body">
              <div class="card-content">
                <div class="card-title">This is the First slider</div>
                <div class="card-text">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
              </div>
            </div>
          </div>
        </div>    
        <div>
          <div class="card">
            <div class="card-header">
              <img src="https://lorempixel.com/200/200/abstract/2">
            </div>
            <div class="card-body">
              <div class="card-content">
                <div class="card-title">This is the Second slider</div>
                <div class="card-text">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <div class="card-header">
              <img src="https://lorempixel.com/200/200/abstract/3">
            </div>
            <div class="card-body">
              <div class="card-content">
                <div class="card-title">This is the Third slider</div>
                <div class="card-text">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
              </div>
            </div>
          </div>  
        </div>
        <div>
          <div class="card">
            <div class="card-header">
              <img src="https://lorempixel.com/200/200/abstract/4">
            </div>
            <div class="card-body">
              <div class="card-content">
                <div class="card-title">This is the Fourth slider</div>
                <div class="card-text">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
              </div>
            </div>
          </div> 
        </div>
        <div>
          <div class="card">
            <div class="card-header">
              <img src="https://lorempixel.com/200/200/abstract/5">
            </div>
            <div class="card-body">
              <div class="card-content">
                <div class="card-title">This is the Fifth slider</div>
                <div class="card-text">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <div class="card-header">
              <img src="https://lorempixel.com/200/200/abstract/6">
            </div>
            <div class="card-body">
              <div class="card-content">
                <div class="card-title">This is the Sixth slider</div>
                <div class="card-text">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
              </div>
            </div>
          </div>
        </div>    
      </div>
      </div>

 