<div class="container">

   
   
    


    <div class="card mb-3 mt-3">
        <img src="/images/gff.jpg" style="height: 300px;" class="card-img-top" alt="...">
        <h1 class="display-4 text-center" style="font-family: 'Lobster', cursive;">About us </h1>
        <h1 class="display-4 text-center" style="font-family: 'Lobster', cursive;">connect  </h1>
        <div class="mx-auto">
            <span><img src="/images/pexels-photo-17.jpeg" alt="" class="rounded-circle" srcset=""  style="width: 100px; height: 100px;"> <img src="/images/about.png"  class="rounded-circle"  alt="" srcset=""  style="width: 100px; height: 100px;"></span>
        </div>
        <div class="card-body text-light mt-3">
          <h5 class="card-title" style="font-family: 'Lobster', cursive; margin-left: 20px;">Mr.Badr</h5>

          <p class="card-text text-justfiy text-light" >This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longerThis is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longerThis is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longerThis is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longerThis is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longerThis is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longerThis is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longerThis is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longerThis is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div> 
       
      <ul class="mx-auto mt-3">

            <a href="#"  id="facebook" class="fa fa-facebook fa-2x fa-fw "></a>
            <a href="#"  id="twitter"  class="fa fa-twitter fa-2x fa-fw "></a>
            <a href="#"  id="google"   class="fa fa-google-plus fa-2x fa-fw"></a>
            <a href="#"  id="linkedin" class="fa fa-linkedin fa-2x fa-fw"></a>
            <a href="#"  id="github"   class="fa fa-github fa-2x fafw"></a>

      </ul>

      <p class="text-center copy" 
      style="
      font-family: 'Lobster', cursive;
      font-size: 20px; 
      ">&copy;Time Ali Alrubay</p>
       

      </div>










</div>



